<!DOCTYPE html>
<html lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<title>BookStore Management</title>

	<!-- Bootstrap CSS -->

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
		  crossorigin="anonymous">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/admin/css/index.css">
	<link rel="stylesheet" href="/admin/css/list.css">
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
</head>

<body>
	<!--------------------------------------LAYOUT--------------------------------------------->
	<div class="content" ng-app="loadDanhMuc" ng-controller="myCtrl">
		<nav class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand fas fa-book header-title" >&nbsp;BookStore Management</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse" ng-init="myFunctionLoadAccessControl()">
				<ul class="nav navbar-nav" style="color:black;">
					<li id="box-user">
						<div id="box-user-left">
							<img id="img-admin" src="/admin/images/man.png">
						</div>
						<div id="box-user-right">
							<b id="login-user"></b>
							<p>{{name}}</p>
						</div>
					</li>
					<li class="test" ng-repeat="accessControl in accessControls">
						<a href="{{accessControl.Controller[0].location}}" class="{{accessControl.Controller[0].icon}}"> {{accessControl.Controller[0].caption}}</a> <!--@Url.Action(" Index","Home")-->
					</li>
					<li class="test" style="cursor:pointer">
						<a id="logout" class="fas fa-sign-out-alt" ng-click="myFunctionLogOut()">&nbsp;Đăng xuất</a>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
		<!------------------------------------------BẢNG DANH MỤC------------------------------------------------->
		<div class="container" >
			<script src="/js/Scripts/controllers/DanhMucController.js"></script>
			<div class="title">
				<h4>Quản lý danh mục</h4>
			</div>
			<div class="row">
				<div class="add-item">
					<a ng-click="myFunctionCreate()" ng-show="myFunctionAccessControlAdmin()" class="btn btn-default" id="btn-add" role="button" >Thêm mới</a>
				</div>
				<div class="search">
					<select ng-model="pageSize" name="" id="pageSize" class="text-inline-select" ng-change="myFunctionLoadData(true)">
						<option value="5">5 rows</option>
						<option value="10">10 rows</option>
						<option value="20">20 rows</option>
					</select>
					<input ng-model="searchString" ng-keyup="myFunctionLoadData(true)" type="text" id="search" class="text-inline-input" placeholder="&#xF002; Nhập tên danh mục...">
				</div>
				<div class="table-responsive">
                    <div ng-init="myFunctionLoadData()">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:350px;">Tên danh mục</th>
                                    <th>Mô tả</th>
                                    <th style="width:150px;">Trạng thái</th>
                                    <th style="width:150px;"></th>
                                </tr>
                            </thead>
							<tbody>
								<tr ng-repeat="item in items">
									<td>{{ item.TenDanhMuc }}</td>
									<td>{{ item.MoTa }}</td>
									<td><span class="{{item.TenTrangThai[0].Class}}">{{ item.TenTrangThai[0].TenTrangThai }}</span></td>
									<td>
										<button ng-click="myFunctionUpdate(item._id)" type="button" class="fas fa-pen blue btn-update" ng-show="myFunctionAccessControlAdmin()" title="Click để cập nhật"></button>
										<button ng-click="myFunctionDetail(item._id)" type="button" class="fas fa-info green btn-detail" title="Click để xem chi tiết"></button>
										<button ng-click="myFunctionDelete(item._id)" type="button" class="fas fa-trash red btn-delete" ng-show="myFunctionAccessControlAdmin()" title="Click để xóa"></button>
									</td>
								</tr>
							</tbody>
                        </table>
                        <!---------------------------------------POPUP XEM ---------------------------------------->
                        <div id="category-detail" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Chi tiết danh mục</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div id="detail-content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div>
                                                    <div class="form-group row detail-row">
                                                        <label class="col-sm-3 col-form-label detail-lbl" for="">Tên danh mục :</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" value="{{SelectedItem[0].TenDanhMuc}}" class="form-control" id="" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row detail-row">
                                                        <label class="col-sm-3 col-form-label detail-lbl" for="">Trạng thái :</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" value="{{SelectedItem[0].TenTrangThai[0].TenTrangThai}}" class="form-control" id="" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row detail-row">
                                                        <label class="col-sm-3 col-form-label detail-lbl" for="">Mô tả :</label>
                                                        <div class="col-sm-9">
                                                            <textarea class="form-control" name="" id="" cols="30" rows="10" disabled>{{SelectedItem[0].MoTa}}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-------------------------------------- POP UP SỬA ----------------------------------------->
                        <div id="category-update" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <form id="frm-update" method="post">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Cập nhật danh mục</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="form-group row detail-row">
                                                        <label class="col-sm-3 col-form-label detail-lbl" for="">Tên danh mục :</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" ng-model="SelectedItem[0].TenDanhMuc" class="form-control" id="txtTenDanhMuc" name="txtTenDanhMuc">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row detail-row">
                                                        <label class="col-sm-3 col-form-label detail-lbl" for="">Trạng thái :</label>
                                                        <div class="col-sm-9">
                                                            <select class="form-control" name="trangThai" id="sll-status" ng-model="SelectedItem[0].IdTrangThai">
                                                                <option ng-repeat="option in Options" value="{{option._id}}">{{option.TenTrangThai}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row detail-row">
                                                        <label class="col-sm-3 col-form-label detail-lbl" for="">Mô tả :</label>
                                                        <div class="col-sm-9">
                                                            <textarea class="form-control" ng-model="SelectedItem[0].MoTa" name="txtMoTa" id="txtMoTa" cols="30" rows="10">{{SelectedItem[0].MoTa}}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Đóng</button>
                                            <button id="btn-update" ng-click="myFunctionUpdateModel()" type="submit" class="btn btn-success modal-btn">Cập nhật</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--------------------------------------POP UP THÊM------------------------------------------>
                        <div id="category-create" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <form id="frm-create" method="post">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Thêm danh mục mới</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="form-group row detail-row">
                                                        <label class="col-sm-3 col-form-label detail-lbl" for="">Tên danh mục :</label>
                                                        <div class="col-sm-9">
                                                            <input ng-model="ModelCreate[0].TenDanhMuc" type="text" value="" class="form-control" name="categoryName" id="categoryName">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row detail-row">
                                                        <label class="col-sm-3 col-form-label detail-lbl" for="">Trạng thái :</label>
                                                        <div class="col-sm-9">
                                                            <select class="form-control" name="trangThai" id="categoryStatus" ng-model="ModelCreate[0].IdTrangThai">
                                                                <option ng-repeat="option in Options" value="{{option._id}}">{{option.TenTrangThai}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row detail-row">
                                                        <label class="col-sm-3 col-form-label detail-lbl" for="">Mô tả :</label>
                                                        <div class="col-sm-9">
                                                            <textarea ng-model="ModelCreate[0].MoTa" class="form-control" name="" id="categoryDescription" cols="30" rows="10">{{ModelCreate[0].MoTa}}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Đóng</button>
                                            <button ng-click="myFunctionCreateModel()" id="btn-tao" type="submit" class="btn btn-success modal-btn">Tạo</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-------------------------------------POPUP DELETED-------------------------------------------->
                        <div id="modal-delete" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <!-- Modal content-->
                                <div class="modal-content" id="deleted">
                                    <form>
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Xóa danh mục</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div>
                                                <h4 style="text-align: center; text-transform: uppercase" class="alert-danger">Bạn có muốn xóa danh mục này không???</h4>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <div class="row">
                                                <div class="col-xs-8"></div>
                                                <div class="col-xs-2">
                                                    <button ng-click="myFunctionDeleteModel()" style="text-align: center;width:100%" id="btn-deleted modal-btn" type="button" class="btn btn-success">Có</button>
                                                </div>
                                                <div class="col-xs-2">
                                                    <button data-dismiss="modal" style="text-align: center;width:100%" type="button" class="btn btn-danger modal-btn">Không</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>	
				<div id="pagination" style="text-align:center"></div>
			</div>
			<div class="footer">
				<h5>&copy; BookStore Management. All right reserved.</h5>
			</div>
		</div>
		
		<script src="/js/modal.js"></script>
		<script src="/admin/js/bootstrap-notify.min.js"></script>
		<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/js/Scripts/plugin/mustache.min.js"></script>
		<script src="/js/Scripts/plugin/jquery.twbsPagination.min.js"></script>
		<script src="/js/Scripts/plugin/core.js"></script>
		<script src="/js/Scripts/plugin/md5.js"></script>
		
	</div>


</body>
</html>