<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<!-----Login gg--------->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
	<script src="https://apis.google.com/js/api:client.js"></script>
	<script>
		var googleUser = {};
		var startApp = function () {
			gapi.load('auth2', function () {
				auth2 = gapi.auth2.init({
					client_id: '500931907686-8faboil0v6u2j77s10dospvp77u7r00o.apps.googleusercontent.com',
					cookiepolicy: 'single_host_origin',
				});
				attachSignin(document.getElementById('logingg'));
			});
		};
	</script>
	<title>BookStore Management</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/admin/css/login.css">
	<link rel="stylesheet" type="text/css" href="/admin/css/index.css">
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/Scripts/controllers/DangKyController.js"></script>
	<script src="/admin/js/bootstrap-notify.min.js"></script>
	<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="/js/Scripts/plugin/md5.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<style>
		.error {
			color: orangered;
		}
	</style>
</head>
<body>
	<script>
		window.fbAsyncInit = function () {
			FB.init({
				appId: '446170316085977',
				cookie: true,
				xfbml: true,
				version: 'v3.1'
			});
			FB.AppEvents.logPageView();
		};

		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) { return; }
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<div class="content">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand fas fa-book header-title" href="#">&nbsp;BookStore Management</a>
			</div>
		</nav>
	</div>
	<div class="content-login">
		<div class="container-login">
			<div class="d-flex justify-content-center h-100">
				<div class="card">
					<div class="card-header">
						<h3>Đăng nhập</h3>
						<div class="d-flex justify-content-end social_icon">
							<span><i class="fab fa-facebook-square"></i></span>
							<span id="logingg"><i class="fab fa-google-plus-square"></i></span>
							<!--<span><i class="fab fa-twitter-square"></i></span>-->
						</div>
					</div>
					<div class="card-body" id="form-login">
					</div>

					<form id="frm-sign-up" action="" method="POST">
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input style="width:initial" type="text" class="form-control " placeholder="Tài khoản" name="userName" id="userName">
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input style="width:initial" type="password" name="password" class="form-control" placeholder="Mật khẩu" id="password">
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input style="width:initial" type="password" name="comparePassword" class="form-control" placeholder="Nhập lại mật khẩu" id="comparePassword">
						</div>
						<div class="form-group" style="text-align:center">
							<button type="submit" class="btn  btn-success">Đăng ký</button>
						</div>
						<div class="form-group" style="text-align:center">
							<button type="button" class="btn btn-outline-warning" id="btnDangNhap">Quay về trang đăng nhập</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!----------------------------------POP UP THÔNG TIN KHÁCH HÀNG-------------------------------------------->
	<div id="user-infor-modal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<form id="frm-info">
					<div class="modal-header">
						<h4 class="modal-title">Thông tin khách hàng</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<label id="txt-id" data-id="" hidden></label>
								<div class="form-group">
									<label for="txt-username">Tên khách hàng</label>
									<input type="text" class="form-control" name="txt-username" id="txt-username">
								</div>
								<div class="form-group">
									<label for="txt-phone">Số điện thoại</label>
									<input type="text" class="form-control" id="txt-phone" name="txt-phone">
								</div>
								<div class="form-group">
									<label for="txt-address">Địa chỉ</label>
									<input type="text" class="form-control" id="txt-address" name="txt-address">
								</div>
								<div class="form-group">
									<label for="txt-email">Email</label>
									<input type="text" class="form-control" id="txt-email" name="txt-email">
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Hủy</button>
						<button id="btn-confirm" type="submit" class="btn btn-success modal-btn">Xác nhận</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>startApp();</script>
</body>
</html>