<!DOCTYPE html>
<html lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<title>BookStore Management</title>

	<!-- Bootstrap CSS -->

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
		  crossorigin="anonymous">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/admin/css/index.css">
	<link rel="stylesheet" href="/admin/css/list.css">
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
</head>

<body>
	<!--------------------------------------LAYOUT--------------------------------------------->
	<div class="content" ng-app="loadPhieuNhapSach" ng-controller="myCtrl">
		<nav class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand fas fa-book header-title" >&nbsp;BookStore Management</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse" ng-init="myFunctionLoadAccessControl()">
				<ul class="nav navbar-nav" style="color:black;">
					<li id="box-user">
						<div id="box-user-left">
							<img id="img-admin" src="/admin/images/man.png">
						</div>
						<div id="box-user-right">
							<b id="login-user"></b>
							<p>{{name}}</p>
						</div>
					</li>
					<li class="test" ng-repeat="accessControl in accessControls">
						<a href="{{accessControl.Controller[0].location}}" class="{{accessControl.Controller[0].icon}}"> {{accessControl.Controller[0].caption}}</a> <!--@Url.Action(" Index","Home")-->
					</li>
					<li class="test" style="cursor:pointer">
						<a id="logout" class="fas fa-sign-out-alt" ng-click="myFunctionLogOut()">&nbsp;Đăng xuất</a>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
		<!------------------------------------------BẢNG DANH MỤC------------------------------------------------->
		<div class="container">
			<script src="/js/Scripts/controllers/PhieuNhapSach.js"></script>
			<div class="title">
				<h4>Quản lý nhập sách</h4>
			</div>
			<div class="row">
				<div class="add-item">
					<a ng-click="myFunctionCreate()" class="btn btn-default" href="#" id="btn-add" role="button">Nhập sách</a>
				</div>
				<div class="search">
					<select ng-model="pageSize" name="" id="pageSize" class="text-inline-select" ng-change="myFunctionLoadData(true)">
						<option value="5">5 rows</option>
						<option value="10">10 rows</option>
						<option value="20">20 rows</option>
					</select>
					<input ng-model="searchString" ng-keyup="myFunctionLoadData(true)" type="text" id="search" class="text-inline-input" placeholder="&#xF002; Nhập mã phiếu nhập...">
				</div>
				<div class="table-responsive">
					<div ng-init="myFunctionLoadData(true)">
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>Mã phiếu nhập</th>
									<th>Ngày nhập</th>
									<th>Tên nhà xuất bản</th>
									<th>Tổng tiền</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in items">
									<td>{{ item.MaSoPhieuNhapSach }}</td>
									<td>{{ item.NgayNhap|date:'dd/MM/yyyy' }}</td>
									<td>{{ item.TenNhaXuatBan }}</td>
									<td>{{item.TongTien|number}}<u>đ</u></td>
									<td>
										<button ng-click="myFunctionDetail(item._id)" type="button" class="fas fa-info green btn-detail" title="Click để xem chi tiết"></button>
									</td>
								</tr>
							</tbody>
						</table>
						<!---------------------------------------POPUP XEM ---------------------------------------->
						<div class="modal fade modal-fullscreen" id="coupon-detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">Chi tiết phiếu nhập sách</h4>
									</div>
									<div class="modal-body">
										<div class="row" id="detail-body">
											<div class="col-sm-10 col-sm-offset-1">
												<div class="form-group row detail-row">
													<label class="col-form-label detail-lbl" for="">Nhà xuất bản :</label>
													<input ng-model="PhieuNhapSach[0].TenNhaXuatBan" id="detail-publisher-name" style="width:20%" class="form-control modal-input" type="text" disabled />
												</div>
												<div class="form-group row detail-row">
													<label class="col-form-label detail-lbl" for="">Ngày nhập :</label>
													<input value="{{PhieuNhapSach[0].NgayNhap|date:'dd/MM/yyyy'}}" id="detail-date" style="width:20%" class="form-control modal-input" type="text" disabled />
												</div>
												<hr />
												<table class="table modal-table">
													<thead>
														<tr>
															<th>Tên sách</th>
															<th>Tập</th>
															<th>Số lượng</th>
															<th>Đơn giá</th>
														</tr>
													</thead>
													<tbody >
														<tr ng-repeat="item in SelectedItem">
															<td>{{item.Sach[0].TenSach}}</td>
															<td>{{(item.Sach[0].Tap != null)? item.Sach[0].Tap:""}}</td>
															<td>{{item.SoLuong}}</td>
															<td>{{item.DonGia|number}}<sup>đ</sup></td>
														</tr>
													</tbody>
												</table>
												<hr />
												<div class="form-group row detail-row" style="float:right">
													<label class="col-form-label detail-lbl lbl-price">Tổng tiền :&nbsp;<span>{{PhieuNhapSach[0].TongTien|number}}</span><sup>đ</sup></label>
												</div>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Đóng</button>
									</div>
								</div>
							</div>
						</div>
						<!--------------------------------------POP UP THÊM------------------------------------------>
						<div class="modal fade modal-fullscreen" id="import" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<form id="frm-create" enctype="multipart/form-data">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">Chi tiết phiếu nhập</h4>
										</div>
										<div class="modal-body">
											<div class="row" id="detail-body">
												<div class="col-sm-10 col-sm-offset-1">
													<div class="form-group row detail-row">
														<label class="col-form-label detail-lbl" for="">Nhà xuất bản :</label>
														<select ng-model="IdNhaXuatBanCreate" style="width:20%" class="form-control" ng-change="myFunctionLoadListBookByPublisher()">
															<option ng-repeat="option in Options" value="{{option._id}}">{{option.TenNhaXuatBan}}</option>
														</select>
														<label style="color:red" id="publisher-error"></label>
													</div>
													<hr />
													<table id="tbl-data" class="table">
														<thead>
															<tr>
																<th>Tên sách</th>
																<th>Số lượng</th>
																<th>Đơn giá</th>
																<th></th>
															</tr>
														</thead>
														<tbody id="data">
															<tr ng-repeat="item in listItem">
																<td>
																	<select ng-model="item.id" class="form-control input-form-nhap book-title">
																		<option ng-repeat="bookByPublisher in listBookByPublisher" value="{{bookByPublisher._id}}">{{(bookByPublisher.Tap != null) ? bookByPublisher.TenSach+"(Tập"+ bookByPublisher.Tap+")" : bookByPublisher.TenSach}}</option>
																	</select>
																</td>
																<td>
																	<input ng-model="item.quantity" style="max-width:85px;" class="form-control input-form-nhap"  type="number" min="1" />
																</td>
																<td>
																	<input ng-model="item.price" style="max-width:120px;" class="form-control input-form-nhap"  type="number" min="0" />
																</td>
																<td>
																	<button ng-click="myFunctionDeletedItem(item.stt)" style="padding: 0px; " type="button" class="btn btn-danger delete-import-detail"><span class="fas fa-times"></span></button>
																</td>
															</tr>
														</tbody>
													</table>
													<button ng-click="myFunctionAddItem()" type="button" class="btn btn-success"><span class="fas fa-plus"></span></button>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Hủy</button>
											<button id="btn-confirm" ng-click="myFunctionCreatePhieuNhapSach()" type="button" class="btn btn-success modal-btn">Xác nhận</button>
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div id="pagination" style="text-align:center"></div>
			</div>
			<div class="footer">
				<h5>&copy; BookStore Management. All right reserved.</h5>
			</div>
		</div>

		<script src="/js/modal.js"></script>
		<script src="/admin/js/bootstrap-notify.min.js"></script>
		<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/js/Scripts/plugin/mustache.min.js"></script>
		<script src="/js/Scripts/plugin/jquery.twbsPagination.min.js"></script>
		<script src="/js/Scripts/plugin/core.js"></script>
		<script src="/js/Scripts/plugin/md5.js"></script>
	
	</div>


</body>
</html>





